
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding:27px 10vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header nav,
header .social-media{
    display: none;
    white-space: nowrap;
    width:auto;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
header nav a{
    color:var(--color-white);
    font-size:clamp(15px, 1.5vw, 25px);
    margin-right: 30px;
    text-decoration: none;
    text-transform: capitalize;
}
header .social-media{
    fill:var(--color-white);
    margin:0;
}
header .logo img{
    width:200px;
}
.menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill:var(--color-white);
    width:10vw;
    max-width:50px;
    margin-top: 5px;
}


@media screen and (min-width:1100px){
    header{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    header .logo{
        -webkit-box-flex:1;
            -ms-flex:auto;
                flex:auto;
        text-align: center;
    }
    header nav,
    header .social-media{
        display: initial;
        
    }
    header .menu{
        display: none;
    }
}