
.try-free{
    padding-top: 50px;
    color: var(--color-white);
    max-height:900px;
    margin-bottom: clamp(180px, calc(550px - 50vh), 260px);

    --h3-color:var(--color-white);
    --button-top:50px;
}

.features{
    color:var(--color-blue);
    --h3-color:var(--color-grey);
}
.features video{
    margin-top: 50px;

    border-radius: 5vw;
    -webkit-box-shadow: rgba(158, 156, 172, 0.15) 0px 48px 100px 0px;
            box-shadow: rgba(158, 156, 172, 0.15) 0px 48px 100px 0px;
}
.features .swap-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@media screen and (min-width:1100px){
    .features .swap-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}
.features .wrapper{
    margin-top: 80px;
}
.features .card{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 17px;
    max-width:270px;
}
.features .card svg{
    margin-bottom: 17px;
    width:47px;
}
.features .card h1{
    padding:0 55px;
    font-size:20px;
}
.features .card .grey-p{
    text-align: center;
    color:var(--color-grey);
    padding:0 43px;
    font-size:18px;

}

.organize{
    --h3-color:var(--color-grey);
    --button-top:60px;
    text-align:center;
}
.organize > a{
    color:var(--color-white);
}
.organize img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-position: center center;
    text-align: center;
    margin-top: 65px;
    max-width: 500px;
}

.newsletter img{
    margin-top: 60px;
    max-width:600px;
    width:100%;
}
.newsletter .subscribe-form{
    text-align: center;
}
.newsletter .subscribe-form h5{
    font-size: clamp(1.3em, 3vw, 3vw) !important;
    color:var(--color-blue);
    font-size:1.3em;
    margin-top: 30px;
    margin-bottom:10px;
}
.newsletter .subscribe-form h4{
    font-size: clamp(14px, 1.5vw, 1.5vw);
}
.newsletter .subscribe-form form{
    margin-top: 34px;
}
.newsletter .subscribe-form form *{
    width:100%;
}
.newsletter .subscribe-form form input[name="email"]{
    max-width: 700px;
    border-radius: 40px;
    border:1px solid #E8E8E8;
    background-color: #F4F4F4;
    padding:19px 35px;
    color:#18171D;
    font-size: clamp(14px, 1.5em, 1.5em);
}
.newsletter .subscribe-form form input[name="email"]::-webkit-input-placeholder{
    color:inherit;
    font-size: inherit;
}
.newsletter .subscribe-form form input[name="email"]::-moz-placeholder{
    color:inherit;
    font-size: inherit;
}
.newsletter .subscribe-form form input[name="email"]:-ms-input-placeholder{
    color:inherit;
    font-size: inherit;
}
.newsletter .subscribe-form form input[name="email"]::-ms-input-placeholder{
    color:inherit;
    font-size: inherit;
}
.newsletter .subscribe-form form input[name="email"]::placeholder{
    color:inherit;
    font-size: inherit;
}

.newsletter .subscribe-form .blue-button{
    display: block;
    text-align: center;
    max-width: 700px;
    margin-left:auto;
    margin-right:auto;
}

.partners{
    --button-top:50px;
}

.partners .wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top:80px;

}
.partners .wrapper .card{
    max-width: 500px;
    margin-bottom: 30px;
    border: 1px solid #D8D8D8;
    padding:40px 25px;
}
.partners .wrapper .card p{
    margin-bottom: 15px;
    color:var(--color-grey);
}

.testimonials{
    --button-top:80px
}
.testimonials .wrapper > img{
    margin-top: 95px;
    margin-bottom: 50px;
    min-width: 200px;
    width:10vw;
}

.testimonials .wrapper p{
    font-family: 'Roboto';
    font-weight: bold;
    color:var(--color-grey);
    font-size: clamp(16px, 1.5em, 1.5em);
}

.testimonials .wrapper .author{
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding:0 20%;

}
.testimonials .wrapper .grey-p{
    font-size: clamp(14px, 1.3vw, 33px);
}
.testimonials .wrapper .author .avatar{
    width: 5vw;
    height:5vw;
    min-height: 70px;
    min-width: 70px;
}
.testimonials .wrapper .author .text-box{
    margin-left: 10px;
}
.testimonials .wrapper .author .text-box h5{
    font-family: 'Roboto';
    font-weight: bold;
    font-size:clamp(10px, 1vw, 25px);
}
.testimonials > .blue-button{
    padding:16px 47px;
}


.pricing{
    color:var(--color-white);
    --h3-color:var(--color-white);
    background-color: var(--color-blue);
    padding:100px 10vw;
}
.pricing .wrapper{
    margin-top: 100px;
}
.pricing .card{
    color:var(--color-blue);
    --h3-color:var(--color-blue);
    
    border-radius:5px;
    padding:40px;
    display: inline-block;
    max-width:380px;
    
    background-color: white;
    border: 1px solid #DEDEDE;
    margin: 0 2vw 50px 2vw;

}
.pricing .card .blue-button{
    padding: 16px 40px;
    white-space: nowrap;
}
.pricing .card .price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height:100px;
    margin-bottom: 40px;
}
.pricing .card .price .number{
    font-size:74px;
}
.pricing .card .price .info{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
    margin-left:10px;
}
.pricing .card .price .currency{
    text-align: start;
    font-size: 20px;
}
.pricing .card .price .period{
    font-size: 16px;
    text-transform: capitalize;
}


.pricing .card .features-box .item{
    text-transform: capitalize;
    margin-bottom:20px;    
}


.pricing .card h3{
    text-transform: uppercase;
    font-size:clamp(18px, 1.2em, 22px);
    margin-bottom: 3px;
}

.pricing .card.blue{
    background-color: var(--color-cyan);
    color:var(--color-white);
    --h3-color:var(--color-white);
}
.pricing .card.blue .blue-button{
    background-color: #fff;
    color:var(--color-cyan);
}


.social-media{
    text-align:center;
    margin: 66px 10%;
    fill:var(--color-cyan);
    width:80%;
    white-space: nowrap;
}
.social-media svg{
    margin:0 14px;
    width:32px;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
.contacts .wrapper .item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 66px;
    fill:var(--color-cyan);
}
.contacts .wrapper .item svg{
    min-width:25px;
    margin:10px 20px 10px 0;
}
.contacts .wrapper .item > div{
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    text-align:start;
    font-size:16px;
}
.contact-form{
    border:1px solid #DDDDDD;
    border-radius: 20px;
    padding: 52px 49px;
    -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    max-width:670px;
}
.contact-form form{
    text-align: start;
}
.contact-form form input:not(.blue-button),
.contact-form form textarea{
    background-color: #F5F5F5;
    border:1px solid #E8E8E8;
    color:#18171D;
    padding:20px 20px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    width:100%;
}
.contact-form form input:not(.blue-button){
    border-radius: 10vw;
}
.contact-form .blue-button{
    min-width: 100px;
    width:50%;
    padding:18px 0;
    text-align: center;
}
.contact-form form
.contact-form form *::-webkit-input-placeholder{
    color:#18171D;
}
.contact-form form
.contact-form form *::-moz-placeholder{
    color:#18171D;
}
.contact-form form
.contact-form form *:-ms-input-placeholder{
    color:#18171D;
}
.contact-form form
.contact-form form *::-ms-input-placeholder{
    color:#18171D;
}
.contact-form form
.contact-form form *::placeholder{
    color:#18171D;
}
.contact-form h3{
    font-size:20px;
    margin-bottom: 45px;
}